<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2>Anúncios da Semana</h2>
    </div>
    <div class="ui-g-12">
        <p-table [value]="semana |async">
          <ng-template pTemplate="header">
              <tr>
                  <th>Data/Hora</th>
                  <th>Evento</th>
                  <th>Local</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-s>
              <tr>
                  <td>{{s.start | date:'EEEE, dd/MM, HH:mm'}}H</td>
                  <td>{{s.title}}</td>
                  <td>{{s.locale}}</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
