<div class="container">
  <ul>
    <li><a routerLink="mensal" class="nav-link" routerLinkActive="active"><i class="pi pi-calendar"> Mensal</i></a>
    <li><a routerLink="semanal" class="nav-link" routerLinkActive="active"><i class="pi pi-bookmark"> Semanal</i></a></li>
    <li><a routerLink="novo" class="nav-link" routerLinkActive="active"><i class="pi pi-calendar-plus"> Novo</i></a></li>
    <!-- <li><a href="#proj"><i class="pi pi-video"> Projeção</i></a></li> -->
    <!-- <li style="float:right"><a href="#about">Sobre</a></li> -->
  </ul>
</div>
